fastapi==0.115.14
pydantic==2.11.7

# LangChain ecosystem
langchain==0.1.16
langchain-community==0.0.33
langchain-core>=0.1.43,<0.2.0
langchain-text-splitters==0.0.2
langchain-google-genai==2.1.10

# Vector & embeddings
faiss-cpu==1.10.0
sentence-transformers==3.2.1
huggingface_hub==0.33.0

# Google Generative AI
google-generativeai==0.8.5

# Utils
python-dotenv==1.0.1
pypdf==5.4.0

# Server
uvicorn==0.34.0
